.footer{
    height: auto;
    padding: 24.42% 10.42% 6.42%;
    display: flex;
    justify-content: center;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.with-logo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.logo-img-footer{
    width: 18%;
}