@import url(//db.onlinewebfonts.com/c/ee83134559a4f33cac174cf72426289c?family=FF+Real+Head);

@font-face {
    font-family: "FF Real Head"; 
    src: url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.eot"); 
    src: url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/ee83134559a4f33cac174cf72426289c.svg#FF Real Head") format("svg"); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'FF Real Head';
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #323648;
}

hr{
    border: 1px solid rgb(63, 63, 63);
}

.no-scroll {
    overflow: hidden;
}